<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Cadastro de Player</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome do jogador: " />
			<h:inputText value="#{cadastroPlayerController.nomeJogador}" />
			<h:outputText value="Sobrenome do Jogador: " />
			<h:inputText value="#{cadastroPlayerController.sobrenomeJogador}" />
			<h:outputText value="Idade: " />
			<h:inputText value="#{cadastroPlayerController.idade}" />
			<h:commandButton actionListener="#{cadastroPlayerController.contarLetras()}" value="Cadastrar" />
		</h:panelGrid>
		<h:panelGrid columns="1">
			<p>Meu nome é: #{cadastroPlayerController.nomeJogador} #{cadastroPlayerController.sobrenomeJogador}.</p>
			<p>Minha idade é: #{cadastroPlayerController.idade} anos.</p>
			<p>Número de letras no nome: #{cadastroPlayerController.numeroLetras}</p>
			<p>Número de letras é: #{cadastroPlayerController.parOuImpar}</p>
		</h:panelGrid>
	</h:form>
</h:body>
</html>